<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <section name="FirefoxPreferences" type="System.Configuration.AppSettingsSection"/>
    <section name="FirefoxExtensions" type="System.Configuration.AppSettingsSection"/>
    <section name="ChromePreferences" type="System.Configuration.AppSettingsSection"/>
    <section name="InternetExplorerPreferences" type="System.Configuration.AppSettingsSection"/>
    <section name="ChromeExtensions" type="System.Configuration.AppSettingsSection"/>
    <section name="DriverCapabilities" type="System.Configuration.AppSettingsSection"/>
    <section name="ChromeArguments" type="System.Configuration.AppSettingsSection"/>
    <section name="Inputs" type="System.Configuration.AppSettingsSection"/>
    <section name="Outputs" type="System.Configuration.AppSettingsSection"/>

    <section name="keyVault" type="System.Configuration.AppSettingsSection"/>
    <section name="database" type="System.Configuration.AppSettingsSection"/>
    <section name="blobStorage" type="System.Configuration.AppSettingsSection"/>
    <section name="azureAd" type="System.Configuration.AppSettingsSection"/>
    <section name="appInsights" type="System.Configuration.AppSettingsSection"/>
    <section name="docDb" type="System.Configuration.AppSettingsSection"/>
    <section name="graphApi" type="System.Configuration.AppSettingsSection"/>
    <section name="vstsDocTarget" type="System.Configuration.AppSettingsSection"/>
    <section name="reporting" type="System.Configuration.AppSettingsSection"/>

    <sectionGroup name="environments">
      <section name="ChromeWindows" type="System.Configuration.AppSettingsSection"/>
      <section name="ChromeWindowsMobile" type="System.Configuration.AppSettingsSection"/>
      <section name="ChromeAndroid" type="System.Configuration.AppSettingsSection"/>
      <section name="ChromeMac" type="System.Configuration.AppSettingsSection"/>
      <section name="FirefoxWindows" type="System.Configuration.AppSettingsSection"/>
      <section name="SafariMac" type="System.Configuration.AppSettingsSection"/>
      <section name="SafariIPhone" type="System.Configuration.AppSettingsSection"/>
      <section name="SafariIPad" type="System.Configuration.AppSettingsSection"/>
      <section name="EdgeWindows" type="System.Configuration.AppSettingsSection"/>
      <section name="IEWindows" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>

    <sectionGroup name="demo">
      <section name="appSettings" type="System.Configuration.AppSettingsSection"/>
      <section name="azureAd" type="System.Configuration.AppSettingsSection"/>
      <section name="docDb" type="System.Configuration.AppSettingsSection"/>
      <section name="keyVault" type="System.Configuration.AppSettingsSection"/>
      <section name="database" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>

  </configSections>

 <appSettings>

    <add key="DemoSuffix" value=""/>
    <add key="Env" value="dev"/>
    <add key="expectedResponseTimeInMs" value="5000"/>
    <add key="input" value="TestData\Input"/>
    <add key="output" value="TestData\Output"/>
    <add key="before" value="TestData\Before"/>
    <add key="after" value="TestData\After"/>
    <add key="DeploymentDate" value=""/>
    <add key="ReadFileUrl" value="https://gtsgbltestsa.blob.core.windows.net/qafiles"/>
    <!--<add key="browser" value="Safari" />-->
    <add key="SimulateMobileBrowser" value="false"/>
    <add key="browser" value="Chrome"/>
    <!--InternetExplorer, Firefox, FirefoxPortable, PhantomJs, RemoteWebDriver, Edge, BrowserStack-->
    <add key="DriverCapabilities" value="CloudProvider"/>
    <!--The browser to use, based on which the appropriate browser 'Preferences/Arguments/Extensions' get picked up from the config below and applied to the DriverContext-->
    <add key="CrossBrowserEnvironment" value="ChromeWindows"/>
    <add key="BuildNumber" value=""/>
    <add key="FirefoxUseLegacyImplementation" value="false"/>
    <add key="FireFoxPath" value="FirefoxPortable.exe"/>
    <add key="PhantomJsPath" value=""/>
    <add key="RemoteWebDriverHub" value="http://hub-cloud.browserstack.com/wd/hub"/>
    <!--<add key="proxy" value="127.0.0.1:9999" />-->
    <!--nlog trace level must be set to "trace" for at least one logger to see EventFiringWebDriver logs-->
    <add key="EnableEventFiringWebDriver" value="false"/>
    <!-- Used for ElementStyle Validations -->
    <!--timeouts-->
    <add key="longTimeout" value="30"/>
    <add key="mediumTimeout" value="20"/>
    <add key="shortTimeout" value="10"/>
    <add key="ImplicitlyWaitMilliseconds" value="5000"/>
    <!--Enable or disable synchronization with AngularJS-->
    <add key="SynchronizationWithAngularEnabled" value="false"/>
    <!--User credentials-->
    <add key="usernameSapApi" value="provisioningsapusername"/>
    <add key="passwordSapApi" value="provisioningsappassword"/>
    <!--Downloaded files, screenshots and page source location-->
    <add key="UseCurrentDirectory" value="true"/>
    <add key="DownloadFolder" value="TestOutput"/>
    <add key="ScreenShotFolder" value="TestOutput"/>
    <add key="PageSourceFolder" value="TestOutput"/>
    <!--Screenshots and logging-->
    <add key="FullDesktopScreenShotEnabled" value="false"/>
    <add key="SeleniumScreenShotEnabled" value="true"/>
    <add key="GetPageSourceEnabled" value="false"/>
    <!--JavaScript Error Logging-->
    <add key="JavaScriptErrorLogging" value="false"/>
    <add key="JavaScriptErrorTypes" value="SyntaxError,EvalError,ReferenceError,RangeError,TypeError,URIError,Refused to display,Internal Server Error,Cannot read property"/>
    <!--Use default firefox profile?-->
    <add key="UseDefaultFirefoxProfile" value="false"/>
    <add key="PathToFirefoxProfile" value="C:\Users\ci_objectivity\AppData\Roaming\Mozilla\Firefox\Profiles"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--Perf logging-->
    <add key="EnablePerfDebugLogging" value="false"/>
    <add key="EnablePerfTag" value="false"/>
    <add key="PerfExecutor" value="locust -f {1}.py --no-web --host={3} --num-request=40 --clients=20 --hatch-rate=20 --print-stats --csv={1} --logfile={1}.log"/>
    <!--<add key="PerfExecutor" value="abs -n 40 -s 20 -c 20 -e {1}.csv -g {1}.tsv -T &quot;application/json&quot; -H &quot;Authorization:Bearer AUTH_TOKEN&quot; -H &quot;BusinessContext:BUSINESS_CONTEXT&quot; -v 3 &quot;{2}&quot;" />-->
   </appSettings>

   <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Objectivity.Test.Automation.Common"/>
    </stepAssemblies>
    <unitTestProvider name="NUnit"/>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>

   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets async="true">
      <target name="logfile" xsi:type="File" fileName="${basedir}\Toyota.Gts.Tests.Bdd_${date:format=ddMMMyyyy:universalTime=false:cached=True}.log" layout="${longdate}|${level}|${callsite}|${message}|${exception}"/>
      <target name="perf" xsi:type="File" fileName="${basedir}\Toyota.Gts.Tests.Perf_${date:format=ddMMMyyyy_hh.mm.ss.tt:universalTime=false:cached=True}.json" layout="${message},"/>
      <target name="console" xsi:type="ColoredConsole" layout="[${level}] ${message}|${exception}"/>
      <target name="debugger" xsi:type="Debugger" layout="[${level}] ${message}|${exception}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="debugger"/>
      <logger name="*" minlevel="Debug" writeTo="console"/>
      <logger name="Perf" minlevel="Debug" writeTo="perf" final="true"/>
      <logger name="*" minlevel="Debug" writeTo="logfile"/>
    </rules>
  </nlog>

  <FirefoxPreferences>
  <!--add key="PreferenceToBeOverride" value="NewValue" /-->
  </FirefoxPreferences>
  <FirefoxExtensions>
    <!-->add key="FirefoxPluginName.xpi" value=""/-->
  </FirefoxExtensions>

  <InternetExplorerPreferences>
  </InternetExplorerPreferences>

  <ChromePreferences>
    <add key="download.default_directory" value="TestData"/>
    <add key="download.prompt_for_download" value="true"/>
  </ChromePreferences>

  <ChromeExtensions>
    <!-->add key="ChromePluginName.crx" value=""/-->
  </ChromeExtensions>

  <ChromeArguments>
    <add key="incognito" value="true"/>
    <add key="no-sandbox" value="true"/>
    <!--<add key="headless" value="true" />
    <add key="disable-gpu" value="true" />
    <add key="disable-software-rasterizer" value="true" />-->
  </ChromeArguments>

  <DriverCapabilities>
    <add key="browserstack.user" value=""/>
    <add key="browserstack.key" value=""/>
    <add key="project" value="Toyota.Gts.Tests.Bdd"/>
    <add key="browserstack.debug" value="true"/>
    <add key="browserstack.networkLogs" value="true"/>
    <add key="browserstack.console" value="warnings"/>
    <!--https://www.browserstack.com/automate/capabilities-->
    <add key="acceptSslCerts" value="true"/>

    <!--<add key="browserstack.local" value="false" />-->
    <!--<add key="browserstack.ie.enablePopups" value="true" />-->
    <!--<add key="browserstack.safari.enablePopups" value="true" />-->
    <!--<add key="browserstack.selenium_version" value="3.5.2" />-->

    <!--TestingBot related stuff-->
    <!--<add key="key" value="" />
    <add key="secret" value="" />
    <add key="server" value="" />-->

  </DriverCapabilities>

  <environments>
    <ChromeWindows>
      <!--<add key="browser_version" value="65.0" />-->
      <add key="browser" value="chrome"/>
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
      <add key="resolution" value="1440x900"/>
    </ChromeWindows>
    <ChromeWindowsMobile>
      <!--<add key="browser_version" value="65.0" />-->
      <add key="browser" value="chrome"/>
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
      <add key="resolution" value="720x480"/>
    </ChromeWindowsMobile>
    <ChromeMac>
      <add key="browser" value="chrome"/>
      <add key="os" value="OS X"/>
      <add key="os_version" value="High Sierra"/>
    </ChromeMac>
    <ChromeAndroid>
      <add key="browser" value="chrome"/>
      <add key="os_version" value="9.0"/>
      <add key="device" value="Google Pixel 2"/>
      <add key="real_mobile" value="true"/>
      <!--<add key="deviceOrientation" value="landscape" />-->
    </ChromeAndroid>
    <SafariMac>
      <add key="browser" value="safari"/>
      <add key="os" value="OS X"/>
      <add key="os_version" value="High Sierra"/>
    </SafariMac>
    <SafariIPhone>
      <add key="browser" value="safari"/>
      <add key="device" value="iPhone 8"/>
      <add key="os_version" value="11.0"/>
      <add key="real_mobile" value="true"/>
    </SafariIPhone>
    <SafariIPad>
      <add key="browser" value="safari"/>
      <add key="device" value="iPad Pro"/>
      <add key="os_version" value="11.2"/>
      <add key="real_mobile" value="true"/>
    </SafariIPad>
    <EdgeWindows>
      <add key="browser" value="edge"/>
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
    </EdgeWindows>
    <IEWindows>
      <add key="browser" value="IE"/>
      <add key="browser_version" value="11.0"/>
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
    </IEWindows>
    <FirefoxWindows>
      <add key="browser" value="firefox"/>
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
    </FirefoxWindows>

  </environments>

  <vstsDocTarget>

    <add key="Account" value="toyotavso"/>
    <add key="Project" value="TMHGTelematics/"/>
    <add key="AccessToken" value="b5503480-049e-422a-9c43-6a20543b6ccb"/>

    <add key="System.AreaPath" value="TMHGTelematics"/>
    <add key="System.IterationPath" value="TMHGTelematics\Release1\Sprint14"/>
    <add key="System.WorkItemType" value="Test Case"/>
    <add key="System.AssignedTo" value="bharat.gandhi@infosys.com"/>

    <add key="TestProjectPath" value="..\..\..\DevSim_reg.csproj"/>
    <add key="TestProjectAssemblyPath" value=".\DevSim_reg.dll"/>
    <add key="FeatureFilesPath" value="..\..\..\Features\"/>
    <add key="AttachmentTags" value="@attach"/>

  </vstsDocTarget>

  <reporting>
    <add key="Enabled" value="true"/>
    <add key="DarkTheme" value="true"/>
    <add key="ShowSteps" value="true"/>
  </reporting>
  
   <runtime>
     <gcServer enabled="true"/>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <publisherPolicy apply="no"/>
         <assemblyIdentity name="System.Runtime.Loader" publicKeyToken="b03f5f7f11d50a3a" culture="en-US"/>
         <bindingRedirect oldVersion="4.3.0.0" newVersion="4.0.0.0"/>
       </dependentAssembly>
     </assemblyBinding>
   </runtime>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
